[Unit]
Description=Samplicator Service
After=network.target

[Service]
ExecStart=/usr/local/bin/samplicate -d 0 -S -c "/usr/local/etc/samplicator.conf"
Restart=always
RestartSec=300
StartLimitInterval=1000
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
